body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.image-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px auto;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#image1 {
    background-image: url('refaela.jpeg');
    z-index: 1;
}

#image2 {
    background-image: url('gal.jpeg');
    z-index: 2;
    opacity: 0;
}

input[type="range"] {
    width: 100%;
    margin: 20px 0;
}
